

	<ul>
		<li>
			<div class='icons'>
				<a href='https://www.facebook.com/csdear'></a>
				<a href='http://steamcommunity.com/profiles/76561198014098251/'></a>
				<a href='https://twitter.com/csdear'></a>
				<a href='https://www.youtube.com/channel/UCostkWb9QmC-TnG5ryNvyoQ'></a>
				<a href='https://plus.google.com/112228975792936602432'></a>
				<a href='https://www.linkedin.com/in/theAwareWolf'></a>
				<a href='https://www.instagram.com/anti_magic_ray'></a>
				<a href='https://gist.github.com/csdear'></a>
				<a href='https://github.com/csdear'></a>
				<a href='http://zombie.js.org/' alt='ZOMBIES!!!'></a>
			</div> 
		</li>
	</ul>
